{% extends "admin/hapifis_admin_base.html" %}
{% load i18n admin_static %}
{% block title %}Register{%endblock%}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
function addListener(element, type, callback) {
    if (element.addEventListener) element.addEventListener(type, callback);
    else if (element.attachEvent) element.attachEvent('on' + type, callback);
}
var downloadLink = document.getElementById('sign_up_button');
addListener(downloadLink, 'click', function() {
    ga('send', 'event', 'demo', 'click', 'SignUp Button');
});
</script>
{% endblock %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
  {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
  <p class="errornote">
      {{ error }}
  </p>
  {% endfor %}
{% endif %}
{% block stylesheets %}{{block.super}}
<style>
    .container {
        margin-top: 0px;
    }
    #login-form {
        padding: 2em;
        background-color: #DDD;
    }
    #login-form input {
        margin-bottom: 0px;
    }
    #img_row {
        margin-top: 2em;
        text-align: center;
    }
    #img_row img {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block container %}
<div class="row"></div> <!-- Hack for chrome. -->
<div class="row">
    <div class="col-md-8">
        <h2>Explore Our Demo</h2>
        <p>Point 97 helps communities and clients build understanding through mobile, online-compatible surveys. Our clients learn more about fishing habits and harvetss, economic impacts and recreational use habits and patterns. The options are as unlimited as your questions.</p>
        <p>Create a FREE account to demo examples.</p>
    </div>
    <div class="col-md-4">
        <h2>Projects in Action</h2>
        <ul>
            <li><a href="http://www.pointnineseven.com/projects/full_story/hapi_fis_hapi_pipol" title="Hapi Fis Hapi Pipol" target="_blank">Solomon Islands Hapi-Fis Market Survey</a></li>
            <li><a href="http://www.pointnineseven.com/projects/full_story/digital_deck" title="Digital Deck USVI/Puerto Rico" target="_blank">USVI/Puerto Rico Digital Deck Catch Report</a></li>
            <li><a href="http://www.pointnineseven.com/resources/full_story/data_collection_analysis_and_synthesis" title="Data collection" target="_blank">Data Collection and Synthesis</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="col-md-4">
            <img src="{{STATIC_URL}}survey/assets/img/DigDeck_OR_seaurchin.png"></img>
            <h4>Logbook</h4>
            <p>Fill your logbook while you fish and file it before you hit the dock. This trial version of our compliant, fishing logbook showcases how location, catch weights, fishing conditions, and receipt totals are tracked, quickly and accurately.</p>
        </div>    
        <div class="col-md-4">
            <img src="{{STATIC_URL}}survey/assets/img/DigDeck_StThomas_fish.png"></img>
            <h4>View Point</h4>
            <p>This robust and versatile product collects real-time coastal data vital for ocean planning. Our trial version showcases how surveyors in a coastal market might collect market location, catch weights, prices, and numbers. Our full-feature product can be adapted to collect and manage data on any ocean issue, including coastal recreation patterns, marine debris sitings, or marine life activity.  
</p>
        </div>
        <div class="col-md-4">
            <img src="{{STATIC_URL}}survey/assets/img/DigDeck_OR_seaurchin.png"></img>
            <h4>The Basics</h4>
            <p>Looking for a mobile, survey collection and information visualization platform to boost your efforts and bring data to decision makers in real-time?  Give our situation agnostic demo a look.</p>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Powerful Features</h2>
        <ul>
            <li>Mobile ready - Take the survey where you are</li>
            <li>Capture spatial info - Find, set and view location</li>
            <li>Secure storage in the cloud - No technology hassles</li>
            <li>Real-time results - Info available as soon as it is comes in</li>
            <li>Dashboard charts - Visualize information</li>
        </ul>
        <!--<img style="display: block; margin: 0 auto;" src="{{STATIC_URL}}survey/assets/img/point97_dark.png"></img>-->
    </div>
</div>
<div class="row">
    <h2>Create your free demo account</h2>
    <p>We will send you a secure email with links to trial and visualize. Open your email on an iOS or Android device for the mobile experience.</p>
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target=".signup">Signup!</button>
    <p>Already have an account? <a href="{% url "auth_login" %}">Sign in.</a><p>
    <p>Forgot your password? <a href="{% url "auth_password_reset" %}">Reset my password.</a><p>
    <div class="modal signup" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <img src="{{STATIC_URL}}/survey/assets/img/point97.png"/>
                    <h2>Sign Up</h2>
                </div>
                <div class="modal-body">
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group row signup-form">
                            <div class="form-element">
                                <label>Enter an email address</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                <p>
                                <ul class="errorlist">{% for error in form.email.errors %}
                                        {{error|safe}}
                                        {% endfor %}
                                    </ul>
                                </p>{%endif%}
                                <i>This will be your login username</i>
                            </div>
                            <div class="form-element">
                                <label>Enter a password</label>
                                {{ form.password1 }}
                                {% if form.password1.errors %}<p>{{form.password1.errors}}</p>{%endif%}
                            </div>
                            <div class="form-element">
                                <label>Please re-enter your password</label>
                                {{ form.password2 }}
                                {% if form.password2.errors %}<p>{{form.password2.errors}}</p>{%endif%}
                            </div>
                        </div>
                        <div class="submit-row">
                            <input id="sign_up_button" type="submit" class="btn btn-default" value="{% trans 'TEST DRIVE' %}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div id="img_row" class="row">
    <div class="col-md-4">
        <img src="{{STATIC_URL}}survey/assets/img/point97_dark.png"></img>
        <h4>Market Survey</h4>
        <p>Imagine a crew of surveyors out in the market, interviewing vendors about their catch, their challengs, and their needs. You have the data in your hands at the end of the day.</p>
    </div>
    <div class="col-md-4">
        <img src="{{STATIC_URL}}survey/assets/img/point97_dark.png"></img>
        <h4>Logbook</h4>
        <p>Fill your logbook while you fish and file it before you hit the dock. Try and abbreviated version of our compliant, robust fishing logbbok. Track your location, catch weights, fishing conditions and expenses.</p>
    </div>
    <div class="col-md-4">
        <img src="{{STATIC_URL}}survey/assets/img/point97_dark.png"></img>
        <h4>Multi-Use Survey</h4>
        <p>Looking for a mobile-friendly survey tool that gathers spatial information but not working with oceans? Our survey tool works anyhwere. Try it out and then give us a call to learn more.</p>
    </div>
</div>-->

<script type="text/javascript">
  document.getElementById('id_email').setAttribute('placeholder', 'Email Address')
  document.getElementById('id_email').setAttribute('class', 'form-control')
  document.getElementById('id_email').focus()
  document.getElementById('id_password1').setAttribute('placeholder', 'Password')
  document.getElementById('id_password1').setAttribute('class', 'form-control')
  document.getElementById('id_password2').setAttribute('placeholder', 'Password (again)')
  document.getElementById('id_password2').setAttribute('class', 'form-control')
</script>
{% endblock %}
