<div class="footer-border"></div>
<footer class="navbar navbar-default footer" role="navigation" ng-controller="SurveyListMenuCtrl" ng-cloak>
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.pointnineseven.com/resources/display/digital_deck">TECHNOLOGY</a></li>
            <li><a href="http://www.pointnineseven.com/resources/display/software">SERVICES</a></li>
            <li><a href="http://www.pointnineseven.com/news/stories">NEWS</a></li>
            <li><a href="http://www.pointnineseven.com/people/team">OUR TEAM</a></li>
            <li><a href="http://www.pointnineseven.com/projects">PROJECTS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><img class="ecotrust" src="static/survey/img/ecotrust_logo.png" alt="EcoTrust Logo"></li>
        </ul>
        <div class="copyright">&copy 2014 Point 97</div>
    </div>
</footer>
