<div class="footer-container">
    <div class="footer-border"></div>
    <footer class="navbar navbar-default footer" role="navigation" ng-controller="SurveyListMenuCtrl" ng-cloak>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.pointnineseven.com/resources/display/mobile_data_collection" target="_blank">TECHNOLOGY</a></li>
                <li><a href="http://www.pointnineseven.com/resources/display/software" target="_blank">SERVICES</a></li>
                <li><a href="http://www.pointnineseven.com/news/stories" target="_blank">NEWS</a></li>
                <li><a href="http://www.pointnineseven.com/people/team" target="_blank">OUR TEAM</a></li>
                <li><a href="http://www.pointnineseven.com/projects" target="_blank">PROJECTS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><img class="ecotrust" src="static/survey/img/an-ecotrust-company_white.png" alt="An EcoTrust Company"></li>
            </ul>
            <div class="copyright">&copy 2014 Point 97</div>
        </div>
    </footer>
</div>
