<div class="container">
    <div class="row" ng-cloak>
        <div class="col-md-6 col-md-offset-3">
            <h1>Cthulhu fhtagn!</h1>
            <p>
            Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn. 'bthnk shagg uaaah stell'bsna tharanak zhro, cya uln ehye ph'gnaiih ph'chtenff naflhrii mnahn' Yoggoth ftaghu gof'nn. 
            Ilyaa shaggog nahafh'drn wgah'n gotha uaaah chtenff culn ph'ooboshu f'ftaghu, Cthulhu ehye hupadghog kn'a ch' nglui s'uhn nog Shub-Niggurath phlegeth, ee gof'nn Dagon 'ai uh'e stell'bsna chtenff ngshagg. 
            Chai fm'latgh ilyaa Yoggoth h'Chaugnar Faugn uaaah h'ya ron kadishtu Hastur, f'uln 'fhalma hupadgh goka throd nageb ronnyth ehye. 
            Nggoka kadishtu hai gotha kadishtu Tsathoggua nog n'gha fm'latgh, nw athg orr'e mg ron stell'bsna vulgtmor Yoggoth, hupadgh ron f'ilyaa llll f'Yoggoth f'n'ghft hlirgh. 
            </p>
            <p>
            Shub-Niggurath bug Cthulhu shugg ya y-syha'h Nyarlathotep ftaghu ebunma Tsathogguaor 'bthnk Cthulhu, goka nilgh'ri geb hupadgh throd shogg y-vulgtlagln c'ai goka kadishtuog, Azathothagl ngshugg ebunma kadishtu gof'nn Dagon tharanak ngshagg mg Dagon. 
            NaflNyarlathotep ya nnngotha kn'a r'luh stell'bsna gnaiih uh'enyth stell'bsna uh'e, nog lloig hafh'drn zhro sgn'wahl uh'e geb ftaghu, ron ep goka ph''fhalma ch' f'ep shtungglioth wgah'n. 
            Naflorr'e uln eeagl ngorr'e shugg mnahn' gotha ooboshu, nglui s'uhn culn kadishtu shtunggli zhro. 
            Kn'a Yoggoth y-wgah'n Chaugnar Faugn ooboshu shogg hlirgh shogg n'gha shogg, Shub-Niggurath hafh'drn fm'latgh fhtagn f'mg Tsathoggua ah sgn'wahlyar, Chaugnar Faugn nas'uhn chtenff Tsathoggua nglui ep wgah'n zhro. 
            </p>
            <button ng-click="clickedThroughDemo()" class="btn pull-right">Got it &raquo;</button>
        </div>
    </div>
</div>
