<div class="modal info-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <img src="static/survey/assets/img/point97.png"/>
                <h2>Information for your information</h2>
            </div>
            <div class="modal-body" style="overflow: hidden;">
                <div ng-if="surveySlug == undefined" ng-include="viewPath + 'views/info/dash.html'"></div>
                <div ng-if="surveySlug != undefined" ng-include="viewPath + 'views/info/' + surveySlug + '.html'"></div>
            </div>
        </div>
    </div>
</div>
