<div class="container">
    <div class="row">
        <div class="col-md-3 section_title">
            <h2>SURVEYS HOME</h2>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-md-12">
            <i ng-hide="loaded" class="icon-spinner icon-spin"></i>
            <table ng-show="loaded" id="survey-landing-table" class="table color_me_survey">
                <tbody>
                    <tr ng-repeat="survey in surveys">
                        <td>
                            <a href="#/RespondantList/{{survey.slug}}"><h2>{{survey.name | uppercase}}</h2></a>
                        </td>
                        <td id="total">
                            <h1 class="survey-num">{{survey.survey_responses || 0}}</h1>
                            <p>TOTAL</p>
                        </td>
                        <td id="review">
                            <h1 class="survey-num">{{survey.reviews_needed || 0}}</h1>
                            <p>REVIEW</p>
                        </td>
                        <td id="flagged">
                            <h1 class="survey-num">{{survey.flagged || 0}}</h1>
                            <p>FLAGGED</p>
                        </td>
                        <td class="survey_manage_icons" ng-hide="confirmDelete">
                            <a target="_blank" class="btn icon-plus" href="/respond/{{survey.slug}}"></a>
                            <a target="_blank" class="btn icon-mobile-phone" href="/static/survey/mobile.html#/survey/{{survey.slug}}/online"></a>
                            <a ng-show="user.is_superuser" class="btn icon-edit" href="#/author/{{ survey.slug }}"></a>
                            <a ng-show="user.is_staff" class="btn icon-remove" ng-click="confirmDelete = true"></a>
                        </td>
                        <td ng-show="confirmDelete && user.is_staff">
                            <a class="btn btn-red" ng-click="delete_survey(survey)">Delete</a>
                            <a class="btn" ng-click="confirmDelete = false">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="user.is_superuser" class="col-md-2">
            <a href="#/author" class="btn btn-yellow"><i class="icon-plus"></i>  CREATE NEW SURVEY</a>
        </div>
    </div>
</div>
