<div class="container">
    <div class="row" style="position:relative;">
        <div class="col-md-3 section_title">
            <h2>DEMO OPTIONS</h2>
        </div>
        <button type="button" class="info_title" data-toggle="modal" data-target=".info-modal">
            <i class="icon-info-sign"></i>
        </button>
        <div ng-include="viewPath + 'views/infoTemplate.html'"></div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-md-12">
            <i ng-hide="loaded" class="icon-spinner icon-spin"></i>
            <table ng-show="loaded" id="survey-landing-table" class="table color_me_survey">
                <tbody>
                    <tr ng-repeat="survey in surveys">
                        <td>
                            <a href="#/RespondantList/{{survey.slug}}"><h2>{{survey.name | uppercase}}</h2></a>
                        </td>
                        <td id="total">
                            <h1 class="survey-num">{{survey.survey_responses || 0}}</h1>
                            <p>TOTAL</p>
                        </td>
                        <td id="review">
                            <h1 class="survey-num">{{survey.reviews_needed || 0}}</h1>
                            <p>REVIEW</p>
                        </td>
                        <td id="flagged">
                            <h1 class="survey-num">{{survey.flagged || 0}}</h1>
                            <p>FLAGGED</p>
                        </td>
                        <td class="survey_manage_icons" ng-hide="confirmDelete">
                            <a style="width: 100%;" title="Try it out" target="_blank" class="btn icon-plus" href="/static/survey/mobile.html#/survey/{{survey.slug}}/online"></a>
                            <!-- <a title="Take Mobile Survey" target="_blank" class="btn icon-mobile-phone" href="/static/survey/mobile.html#/survey/{{survey.slug}}/online"></a> -->
                            <a ng-show="user.is_superuser" title="Edit" class="btn icon-edit" href="#/author/{{ survey.slug }}"></a>
                            <a ng-show="user.is_staff" class="btn icon-remove" title="Delete" ng-click="confirmDelete = true"></a>
                        </td>
                        <td ng-show="confirmDelete && user.is_staff">
                            <a class="btn btn-red" ng-click="delete_survey(survey)">Delete</a>
                            <a class="btn" ng-click="confirmDelete = false">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="user.is_superuser" class="col-md-2">
            <a href="#/author" class="btn btn-yellow"><i class="icon-plus"></i>  CREATE NEW FORM</a>
        </div>
    </div>
</div>
