<div class="container">
    <div ng-include="viewPath + 'views/sideNav.html'"></div>
    <div class="{{viewport_size}}">
        <h2 id="page_subtitle">
            {{ subtitle | uppercase }}
            <small class="print-show">{{ filter.startDate|validDate: 'dd-MM-yyyy'  }} to {{ filter.endDate|validDate: 'dd-MM-yyyy' }}</small>
        </h2>
        <!-- <div class="print-hide col-md-2">
            <button print-button></button>
        </div> -->
    </div>
    <div id="filter_row" class="{{viewport_size}} print-hide">
        <div  id="responses_found" class="center-text col-md-2">
            <h2>{{meta.total_count}}</h2>
            <P>RESPONSES FOUND</P>
        </div>
        <div class="col-md-3">
            <div id="time_units" class="btn-group print-hide">
                <!-- <button ng-class="{'active': surveyorTimeFilter == 'hour'}"
                    type="button"
                    class="bs_btn btn-default"
                    ng-click="surveyorTimeFilter='hour'">Hourly</button> -->
                <button ng-class="{'active': surveyorTimeFilter == 'day'}"
                    type="button"
                    class="btn bs_btn btn-default"
                    ng-click="surveyorTimeFilter='day'">Day</button>
                <button ng-class="{'active': surveyorTimeFilter == 'week'}"
                    type="button"
                    class="btn bs_btn btn-default"
                    ng-click="surveyorTimeFilter='week'">Week</button>
                <button ng-class="{'active': surveyorTimeFilter == 'month'}"
                    type="button"
                    class="btn bs_btn btn-default"
                    ng-click="surveyorTimeFilter='month'">Month</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-control date-range-picker" date-range-picker min="filter.min" max="filter.max" start="filter.startDate" end="filter.endDate"></div>
        </div>
        <div id="market_status_filters" class="col-md-3">
            <select class="form-control" ng-model="extra_dropdown" ng-options="item for item in extra_dropdown_items">
                <option value="">All Items</option>
            </select>
            <select class="form-control" ng-model="status_single" ng-options="i[0] as i[1] for i in statuses">
                <option value="">All Statuses</option>
            </select>
        </div>
    </div>
    <div class="{{viewport_size}}">
        <p ng-show="message">{{message}}</p>
        <div>
            <i ng-show="respondentsLoading" class="icon-spinner icon-spin"></i>
        </div>
            <span ng-switch on="has_map">
                <div ng-switch-when="true" ng-include="viewPath + 'views/_overview_map.html'"></div>
                <div ng-switch-when="false" id="surveyor_by_time_chart">
                    <div time-series chart="surveyor_by_time"></div>
                </div>
            </span>
        <div ng-repeat="chart in charts" class="dash-chart">
            <h2>{{ chart.title }}</h2>
            <div class="error">{{ chart.message }}</div>
            <div ng-switch on="chart.type">
                <div ng-switch-when="bar-chart" bar-chart chart="chart"></div>
                <div ng-switch-when="stacked-column" stacked-column chart="chart"></div>
                <div ng-switch-when="time-series" time-series chart="chart"></div>
                <div ng-switch-default bar-chart chart="chart"></div>
            </div>
        </div>
        <div ng-repeat="(chart_key,chart_val) in sectioned_charts" class="dash-chart">
            <div ng-repeat="chart in chart_val" class="dash-chart">
                <div ng-switch on="chart.type">
                    <h2>{{ chart.title }}</h2>
                    <div ng-switch-when="bar-chart" bar-chart chart="chart"></div>
                    <div ng-switch-when="stacked-column" stacked-column chart="chart"></div>
                    <div ng-switch-when="time-series" time-series chart="chart"></div>
                    <div ng-switch-default bar-chart chart="chart"></div>
                </div>
            </div>
    </div>
</div>
