<nav class="navbar navbar-default header" role="navigation" ng-controller="SurveyListMenuCtrl" ng-cloak>
    <div>
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="#"><img src="{{user.static_url}}survey/assets/img/point97.png"></img></a></li>
            <li><h3 class="navbar-text">survey app</h3></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">SIGNED IN AS {{user.username | uppercase}}</p></li>
            <li><a href="{{user.logout_url}}">SIGN OUT</a></li>
            <li><a ng-show="user.is_superuser" href="{{user.admin_url}}">ADMIN</a></li>
        </ul>
    </div>
</nav>
<div class="header-border"></div>
